@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

body * {
  font-family: 'Roboto Mono', monospace;
}


body {
  margin :20px;
}

section.header {
  border: 15px solid #4030e8;
}

.row {
  padding: 10%;
}

a {
  color:#4030e8;
}

a:hover, a:active, a:focus {
  background-color: #4030e8;
  color:#FFF;
}



.mugshot {
  border-radius: 4px;
  margin-bottom: 2rem;
}

.social a {
  font-weight: bold;
  padding: 2rem !important;
  display: block !important;
}

@media screen and (max-width: 760px) {
  .social {
    margin-top: 0rem;
  }
  .social a span {
    display: none;
  }
  .social a {
    padding: 1rem !important;
  }
}
